@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/24b6a7e3764083ce8385bbe80ddce15f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #10101D;
    padding: 18px;
    border-radius: 8px;
    width: 430px;
}

#to_do h1 {
    color: #e5f9ff;
    font-size: 28px;
    text-transform: uppercase;
}

.to-do-form {
    display: flex;
    width: 100%;
}

.to-do-form input {
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid #68AAF2;
}

.to-do-form input:focus-visible {
    outline: none;
}


.to-do-form .form-button{
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #68AAF2;
    border-radius: 100%;
    font-size: 20px;
    transition: scale 0.5s ease;
}

.to-do-form .form-button:hover  {
    cursor: pointer;
    scale: 1.05;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    background-color: #191933;
    padding: 8px 12px;
    border-radius: 4px;
}

.task .progress.done + .task-description {
    text-decoration: line-through;
    color: #e5f9ffa7;
}

.task .progress {
    margin-right: 10px;
}

.task .task-description {
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    width: 100%;
}

.task .task-actions {
    display: flex;
    gap: 10px;

}

.action-button {
    font-size: 16px;
}

.action-button.edit-button {
    color: #DBBA2A;
}

.action-button.delete-button {
    color: #E36654;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 600px) {
    #to-do {
        width: 300px;
    }
}
